[submodule "2.Sophomore_track/2.Sophomore_track2.Sophomore_track/01.0.Advanced-Solidity"]
	path = 2.Sophomore_track/2.Sophomore_track2.Sophomore_track/01.0.Advanced-Solidity
	url = https://PAT@github.com/Web7dotsol/learn-web3-dao.git
